@model IEnumerable<WebApplication8.Models.UserTasks>
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Pages/_LayoutNavigation.cshtml";
}

<link rel="stylesheet" href="~/css/profile.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<nav class="navbar h-100">
    <div class="h-50">
    </div>
</nav>
<div class="container h-100 userProfileMain">
    <section class="mainProfileInfo col-lg-12">
        <div class="row tableUserInfo">
            <div class="col-sm-2">Użytkownik: @ViewBag.User </div> 
            <div class="col-sm-2">Imię: @ViewBag.Name</div> 
            <div class="col-sm-4">E-mail: @ViewBag.Email</div> 
            <div class="col-sm-2">Grupa: @ViewBag.Group</div> 
            <div class="col-sm-2"><a id="changePersonalData" asp-page="/ProfileEdit" >Zmień dane</a></div>           
        </div>
    </section>
    <section class="col-xl-12 main h-100">
        <table class="table-responsive-lg col-lg-12 tasksTable">
            <thead>
                <tr>
                    <th>Zadanie</th>
                    <th>Opis</th>
                    <th>Status</th>
                    <th class="hideItOnMobile">Data utworzenia</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td class="hideItOnMobile">@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                        <td>
                            <a class="bigger" asp-action="Done" asp-route-id="@item.Id">&#x2714;</a>
                            <a class="bigger" asp-action="InProgress" asp-route-id="@item.Id">⏱</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <script src="~/js/profile.js" asp-append-version="true"></script>
</div>

